*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    text-align: center;
}

.icon-box {
    height: 100px;
    width: 200px;
    border: 1px solid red;
    background-color: antiquewhite;
}